## Directories

aur/
Desktop/
documents/
Downloads/
pictures/
scripts/
rtorrent/

.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/thefuck/__pycache__/
.config/chromium/
.config/coc/
.npm/

.ssh/
.cache/
.cargo/
.gnupg/
.local/
.mozilla/
.pki/
.zsh_plugins/

## Files

.config/mimeapps.list
.git-credentials
.gitconfig
.histfile
.lesshst
.zcompdump
.python_history
