## Directories

aur/
Desktop/
documents/
downloads/
pictures/
rtorrent/
scripts/

.config/coc/
.config/chromium/
.config/Code - OSS/
.config/mpv/watch_later/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/thefuck/__pycache__/

.cache/
.cargo/
.gnupg/
.ipython/
.local/
.mozilla/
.npm/
.pki/
.ssh/
.vscode-oss/
.zsh_plugins/

## Files

.config/mimeapps.list
.git-credentials
.gitconfig
.histfile
.lesshst
.zcompdump
.python_history
