[user]
	email = dgpalmieri@gmail.com
	name = Dylan Palmieri
	signingkey = DAEFA4AC44D0E195
[commit]
	gpgsign = true
[credential]
	helper = cache
[core]
	editor = nvim
[pull]
	rebase = false
[init]
	defaultBranch = main
[gpg]
	program = gpg
