## Directories

Desktop/
aur/
collected_data/
collected_data_backup/
documents/
downloads/
pictures/
rtorrent/
scripts/
work/

.config/Bitwarden CLI/
.config/Code - OSS/
.config/chromium/
.config/coc/
.config/mpv/watch_later/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/thefuck/__pycache__/

.cache/
.cargo/
.gnupg/
.ipython/
.local/
.mozilla/
.npm/
.pki/
.ssh/
.vscode-oss/
.zsh_plugins/

## Files

.config/mimeapps.list
.config/qutebrowser/qsettings/QtProject.conf
.git-credentials
.gitconfig
.histfile
.lesshst
.python_history
.zcompdump
